<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<button type="submit" id="logoutbtn" (click)="logout()">Logout</button>

<h1>Welcome ! Choose a game or a feed</h1>
<div class="wrapper">
    <div class="three"><button class="b-help" type="submit" (click)="game1()">Bitcoin news</button></div>
    <div class="four"><button class="b-help" type="submit" (click)="game2()">Rock Paper Scissor</button></div>
    <div class="five"><button class="b-help" type="submit" (click)="game3()" >Whack a mole</button></div>
    <div class="six"><button class="b-help" type="submit" (click)="game4()">Quick Quiz</button></div>
</div>
<div class="pushelp">
    <button type="submit" class="learn-btn" (click)="learn()">Learn more</button>
</div>
<!-- <div *ngFor = 'let data of username'>
    <h3>Name: {{data.name}}</h3>
    <h4>Website : {{data.website}}</h4>
</div>
<div *ngFor = 'let data of view'>
    <h3>Title : {{data.title}}</h3>
    <h4>Picture : <br><img src="{{data.url}}"></h4>
</div> -->