<button class="classButton" (click)="back()">Back</button>
<br>
<h1>QUIZ</h1>
<form action="">
    <h3><strong> 1) What is 14 square?</strong></h3>
    <input type="radio" id="176" name="Q1" value="176">
    <label for="176">176</label><br>
    <input type="radio" id="188" name="Q1" value="188">
    <label for="188">188</label><br>
    <input type="radio" id="196" name="Q1" value="196">
    <label for="196">196</label>
    <br>
    <h3><strong> 2) Which is the smallest country?</strong></h3>
    <input type="radio" id="vatican" name="Q2" value="vatican">
    <label for="vatican">vatican</label><br>
    <input type="radio" id="Ireland" name="Q2" value="Ireland">
    <label for="Ireland">Ireland</label><br>
    <input type="radio" id="Qatar" name="Q2" value="Qatar">
    <label for="Qatar">Qatar</label>
    <br>
    <h3><strong> 3) Which is the longest anime?</strong></h3>
    <input type="radio" id="naruto" name="Q3" value="naruto">
    <label for="naruto">naruto</label><br>
    <input type="radio" id="bleach" name="Q3" value="bleach">
    <label for="bleach">bleach</label><br>
    <input type="radio" id="One piece" name="Q3" value="One piece">
    <label for="One piece">One piece</label>
    <br><br><br>
    <button type="submit" form="form1" value="Submit">Submit</button>
</form>