//back button
.classButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.classButton:hover{
    background-color: lightgreen;
    color: black;
}
//body
body{
    text-align: center;
}
.grid{
    padding-left: 520px;
    width: 456px;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
}
.square{
    width: 150px;
    height: 150px;
    border: solid 1px black;
}
.mole{
    background-image: url(./mole.jpg);
    background-size: cover;
}